<?xml version='1.0' encoding='utf-8'?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.pacioos.voyager"
        versionCode="100" 
        version   = "1.0.0">
    <name>PacIOOS Voyager</name>
    <description>
        Map and access real-time ocean observations, forecasts, and related information for U.S. interests in the Pacific. From the Pacific Islands Ocean Observing System (PacIOOS).
    </description> 
    <author email="jmaurer@hawaii.edu" href="http://pacioos.org">John Maurer</author>
    <preference name="phonegap-version" value="3.1.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="false" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <icon src="icon.png" />
    <icon gap:platform="android" gap:density="ldpi" src="icons/android/voyager_icon_ldpi_36.png" width="36" height="36" />
    <icon gap:platform="android" gap:density="mdpi" src="icons/android/voyager_icon_mdpi_48.png" width="48" height="48" />
    <icon gap:platform="android" gap:density="hdpi" src="icons/android/voyager_icon_hdpi_72.png" width="72" height="72" />
    <icon gap:platform="android" gap:density="xhdpi" src="icons/android/voyager_icon_xhdpi_96.png" width="96" height="96" />
    <icon gap:platform="blackberry" src="icons/bb/icon.png" width="80" height="80" />
    <icon gap:platform="ios" src="icons/ios/icon.png" width="57" height="57" />
    <icon gap:platform="ios" src="icons/ios/icon-72.png" width="72" height="72" />
    <icon gap:platform="ios" src="icons/ios/icon-76.png" width="76" height="76" />
    <icon gap:platform="ios" src="icons/ios/icon_at_2x.png" width="114" height="114" />
    <icon gap:platform="ios" src="icons/ios/icon-120.png" width="120" height="120" />
    <icon gap:platform="ios" src="icons/ios/icon-72_at_2x.png" width="144" height="144" />
    <icon gap:platform="ios" src="icons/ios/icon-152.png" width="152" height="152" />
    <icon gap:platform="webos" src="icons/webos/icon.png" width="64" height="64" />
    <icon gap:platform="winphone" src="icons/winphone/icon.png" width="48" height="48" />
    <icon gap:platform="winphone" gap:role="background" src="icons/winphone/tileicon.png" width="48" height="38" />
    <gap:splash src="splash.png" />
    <gap:splash gap:platform="android" gap:density="ldpi" src="splash/android/ldpi.png" width="200" height="320" />
    <gap:splash gap:platform="android" gap:density="mdpi" src="splash/android/mdpi.png" width="320" height="480" />
    <gap:splash gap:platform="android" gap:density="hdpi" src="splash/android/hdpi.png" width="480" height="800" />
    <gap:splash gap:platform="android" gap:density="xhdpi" src="splash/android/xhdpi.png" width="720" height="1280" />
    <gap:splash gap:platform="blackberry" src="splash/bb/splash.png" width="225" height="225" />
    <gap:splash gap:platform="ios" src="splash/ios/Default.png" width="320" height="480" />
    <gap:splash gap:platform="ios" src="splash/ios/Default_at_2x.png" width="640" height="960" />
    <gap:splash gap:platform="ios" src="splash/ios/Default-568h.png" width="320" height="568" />
    <gap:splash gap:platform="ios" src="splash/ios/Default-568h_at_2x.png" width="640" height="1136" />
    <gap:splash gap:platform="ios" src="splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash gap:platform="ios" src="splash/ios/Default-Portrait.png" width="768" height="1004" />
    <gap:splash gap:platform="ios" src="splash/ios/Default-Landscape.png" width="1024" height="748" />
    <gap:splash gap:platform="ios" src="splash/ios/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" />
    <gap:splash gap:platform="ios" src="splash/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1496" />
    <gap:splash gap:platform="winphone" src="splash/winphone/splash.jpg" width="480" height="800" />
    <access origin="*" />
</widget>
